body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f5f5f5;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/*main-header*/

.main-header {
    background-color: #0b3b54;
}

.main-header__wrapper {
    width: 100%;
    max-width: 800px;
    padding: 24px 12px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.main-header__header {
    margin-right: 48px;
    font-size: 24px;
    color: #c9a920;
}

/*navigation*/

.navigation__list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.navigation__item {
    margin-right: 12px;
}

.navigation__item:last-child {
    margin-right: 0;
}

.navigation__link {
    font-size: 18px;
    color: #c9a920;
}

/*main-content*/

.main-content {
    background-color: #f5f5f5;
}

.main-content__wrapper {
    width: 100%;
    max-width: 800px;
    padding: 24px 12px;
    margin: 0 auto;
    box-sizing: border-box;
}

.main-content__wrapper::after {
    content: "";
    display: table;
    clear: both;
}

.main-content__image {
    margin-right: 12px;
    float: left;
}

.main-content__content {
    font-size: 18px;
}

/*subscribe*/

.subscribe {
    padding: 24px 12px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    float: right;
}

.subscribe__header {
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 200;
}

.subscribe__label {
    font-size: 18px;
}

.subscribe__input {
    margin-bottom: 12px;
    font-size: 18px;
}

.subscribe__submit {
    width: fit-content;
    display: block;
}